<nb-layout center>
    <nb-layout-column class="colored-column-basic" style="justify-content: center;">
    <img id="logo" src="/assets/imgs/logo.png" alt="LOGO">
    
    <h6>Amaia is a PWA designed for mobile-devices.</h6>
    <h6>The desktop version is still under developement.</h6>
    <h6>Please use this application using your smartphone, tablet or equivalent.</h6>
    <h6>If you're already using a mobile device and getting this message, please check your browser settings.</h6>
    <h6>Thanks!</h6>
    </nb-layout-column>

    <nb-layout-footer>Gabriele Petroni - 2024</nb-layout-footer>
</nb-layout> 