<nb-layout center>

    <nb-layout-column class="colored-column-basic">
    <img id="logo" src="/assets/imgs/logo.png" alt="LOGO">
    <form>
      <input class="login-component" type="text" nbInput shape="round" placeholder="E-mail"><br>
      <input class="login-component" type="password" nbInput shape="round" placeholder="Password"><br>
      <input class="login-component" nbButton shape="semi-round" status="primary" type="button" value="Login"><br>
      <p class="login-link"><a style="text-decoration: none;" href="/register">Not registered yet?</a></p>
      <p class="login-link"><a style="text-decoration: none;">Lost password</a></p>
    </form>
    </nb-layout-column>
</nb-layout>