#logo {
    align-content: center;
    margin-top: 20%;
}

.login-link{
	text-decoration: none;
}

form {
	margin-top: 30%;
	margin-bottom: 20%;
}

.login-error {
    color: red;
    margin-top: 0;
    margin-bottom: -0.1em;
}