<nb-layout center>

    <nb-layout-column class="colored-column-basic">
    <form>
      <input class="login-component" type="text" nbInput shape="round" placeholder="Name"><br>
      <input class="login-component" type="text" nbInput shape="round" placeholder="Surname"><br>
      <input class="login-component" type="text" nbInput shape="round" placeholder="E-mail"><br>
      <input class="login-component" type="password" nbInput shape="round" placeholder="Password"><br>
      <input class="login-component" type="password" nbInput shape="round" placeholder="Repeat password"><br>
      <input class="login-component" type="text" nbInput shape="round" placeholder="Activation code"><br>
      <input class="login-component" nbButton shape="semi-round" status="primary" type="button" value="Register"><br>
      <p class="login-link"><a style="text-decoration: none;" href="/login">Already registered?</a></p>
    </form>
    </nb-layout-column>

    <nb-card>
     
    </nb-card>

    <nb-layout-footer>Gabriele Petroni - 2024</nb-layout-footer>

</nb-layout>
